<ng-container *ngIf="data$ | async as data">
  <app-file-renderer
    *ngIf="data.file.renderer"
    [value]="data.file.value"
    [renderer]="data.file.renderer"
    [mode]="data.file.mode"
  ></app-file-renderer>
  <div id="no-file-opened" *ngIf="data.file.renderer == null && (fileLoading$ | async) !== true">
    <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/void_3ggu.svg" />
    <i class="mat-hint">You are staring into the void ...</i>
  </div>
  <app-file-footer *ngIf="data.file.renderer" [info]="data.info"></app-file-footer>
</ng-container>
