:host {
  display: flex;
  align-items: center;
  height: 52px;
  line-height: 52px;
  border-top: 1px solid rgba(#fff, 0.12);
  // background-color: #424242;

  > code,
  > button {
    border-right: 1px solid rgba(#fff, 0.12);
  }

  > code {
    padding: 0 16px;
    height: 52px;
    line-height: 52px;
  }
}

button,
a {
  &.mat-button .mat-icon {
    margin-right: 8px;
    transform: translateY(-8px);
  }
}

#footer-actions {
  margin-left: auto;

  > button,
  > a {
    border-left: 1px solid rgba(#fff, 0.12);
  }
}

.mat-button {
  height: 52px;
  line-height: 52px;
  border-radius: 0;
}

@media only screen and (max-width: 599px) {
  code:first-child {
    margin-right: auto;
    border-right: none;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    + code {
      border-left: 1px solid rgba(#fff, 0.12);
      white-space: nowrap;
    }
  }
}
